<div class="container">
    <h4>Create Facility Session</h4>

    <!-- Seacrh bar-->
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="input-group align-items-center" style="width: 500px;">
          <div class="dropdown">
            <button 
              id="categoryDropdown" 
              class="btn btn-secondary dropdown-toggle" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
              style="width: 120px; white-space: nowrap;"
            >
              Email
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" data-value="email">Email</a></li>
              <li><a class="dropdown-item" href="#" data-value="phone">Phone</a></li>
              <li><a class="dropdown-item" href="#" data-value="last_name">Last name</a></li>
              <li><a class="dropdown-item" href="#" data-value="first_name">First name</a></li>
            </ul>
          </div>
      
          <input 
            id="query" 
            type="text" 
            class="form-control shadow-none border-0 rounded-0" 
            placeholder="Search" 
            aria-label="Search"
          />
      
          <button 
            id="search-btn" 
            class="btn btn-secondary"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
              viewBox="0 0 24 24" fill="none" stroke="currentColor" 
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
              class="icon icon-tabler icons-tabler-outline icon-tabler-search"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
          </button>
        </div>
    </div>      
    
    <!-- Search Result -->
    <div id="player-cards" class="player-cards mt-4"></div>
</div>
